.navbar {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  border-bottom: var(--honestly-border);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  backdrop-filter: blur(8px);
  border-bottom: 1px solid rgba(200, 200, 200, 0.25);
}

ul,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.router-link-active {
  border-bottom: 2px solid var(--honestly-color-brand);
}
