<section class="login-form">
  <div>
    <h1>honestly</h1>
    <p>
      hi there 👋 honestly is currently only available to logged in users.
      social login coming soon (tm)
    </p>
  </div>

  <div class="tabs">
    <div
      class="tab"
      [ngClass]="{ 'tab-selected': currentTab === 'login' }"
      (click)="currentTab = 'login'"
    >
      <span>log in</span>
    </div>

    <div
      class="tab"
      [ngClass]="{ 'tab-selected': currentTab === 'signup' }"
      (click)="currentTab = 'signup'"
    >
      <span>sign up</span>
    </div>
  </div>

  <form
    *ngIf="currentTab === 'login'"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmitLogin()"
  >
    <h-form-field>
      <label for="email">email</label>
      <input id="email" type="email" formControlName="email" />
    </h-form-field>

    <h-form-field>
      <label for="password">password</label>
      <input id="password" type="password" formControlName="password" />
    </h-form-field>

    <button type="submit" [disabled]="loginForm.invalid">log in</button>

    <div class="error" *ngIf="loginError">error: {{ loginError }}</div>
  </form>

  <form
    *ngIf="currentTab === 'signup'"
    [formGroup]="signupForm"
    (ngSubmit)="onSubmitSignup()"
  >
    <h-form-field>
      <label for="email">email</label>
      <input id="email" type="email" formControlName="email" />
    </h-form-field>

    <h-form-field>
      <label for="email">username</label>
      <input id="username" type="text" formControlName="username" />
    </h-form-field>

    <h-form-field>
      <label for="password">password</label>
      <input id="password" type="password" formControlName="password" />
    </h-form-field>

    <button type="submit" [disabled]="signupForm.invalid">
      create account
    </button>

    <div class="error" *ngIf="signupError">error: {{ signupError }}</div>
  </form>
</section>
